# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ext/
out/
Vk_RubiksCube/resources/models/rubiks_cube_texture/Textures/
out_data/.vs/Vulkan_RubiksCube/FileContentIndex/0edcf77f-4b13-4122-90c7-3825ab0dbbb2.vsidx
out_data/.vs/Vulkan_RubiksCube/FileContentIndex/cd003cc7-ebf6-4c93-9c7e-82aa55a85a9b.vsidx
/build/build-win-msvc-vs-x64-multiconfig
/.idea
